{% extends 'base.html.twig' %}

{% block title %}Liste des cartes provisoires
{% endblock %}

{% block contenu %}

{% endblock %}


{% block body %}
{% include "_nav.html.twig" %}
	<div class="d-flex justify-content-between">
		<div class="mt-4 ml-5">
		<a href="{{path('carte_provisoire_recherche')}}" class="btn btn-outline-info">rechercher une carte provisoire</a>
		</div>
		<div class="d-flex justify-content-end mt-4 mr-4">
			<a href="{{ path("carte_provisoire.new") }}" class="btn btn-outline-info rounded">Créer une nouvelle carte provisoire</a>
		</div>
	</div>
	<div class="container mt-4">
		<div>
			<h1 class="mt-4 text-warning text-center">Listes des cartes provisoires</h1>
			{% for message in app.flashes('success') %}
				<div class="alert alert-success mt-4 rounded">
					{{ message }}
				</div>
			{% endfor %}
		</div>
		<table class="table table-hover mt-4 mb-5">
			<thead class="h-100 w-100">
				<tr class="h-100 text-center">
					<th scope="col" class="text-capitalize text-warning h5">Civilité</th>
					<th scope="col" class="text-capitalize text-warning h5">Nom</th>
					<th scope="col" class="text-capitalize text-warning h5">Prénom</th>
					<th scope="col" class="text-capitalize text-warning h5">Voir détails</th>
					<th scope="col" class="text-capitalize text-warning h5">modifier</th>
				</tr>
			</thead>
			<tbody class="h-100">
				{% for CarteProvisoire in CarteProvisoires %}
					<tr class="table-light h-100 text-center align-items-center">
						<td class="align-middle">{{CarteProvisoire.civilite}}</td>
						<td class="align-middle">{{CarteProvisoire.nom}}</td>
						<td class="align-middle">{{CarteProvisoire.prenom}}</td>
						
						<td>
							<a href="{{ path("carte_provisoire.show", { id: CarteProvisoire.id }) }}" class="btn btn-info rounded">Afficher détails</a>
						</td>
						<td>
							<a href="{{ path("carte_provisoire.edit", { id: CarteProvisoire.id }) }}" class="btn btn-warning rounded">Modifier</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="navigation d-flex justify-content-center mt-4">
			{{ knp_pagination_render(CarteProvisoires) }}
		</div>
	</div>
	
{% endblock %}
