{% extends 'base.html.twig' %}

{% block title %}Liste des entreprises{% endblock %}

{% block body %}
<div class="d-flex justify-content-end mt-4 mr-4">
    <a href="{{ path("entreprise.new") }}" class="btn btn-info rounded">Créer une nouvelle entreprise</a>
</div>

<div class="container mt-4">
    <div>
        <h1 class="mt-4 text-warning text-center">Listes des entreprises</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4 rounded">
                {{ message }}
            </div>
        {% endfor %}        
    </div>
    <table class="table table-hover mt-4">
    <thead class="h-100 w-100">
        <tr class="h-100 text-center">
        <th scope="col" class="text-capitalize text-warning h5">Dénomination</th>
        <th scope="col" class="text-capitalize text-warning h5">Nom</th>
        <th scope="col" class="text-capitalize text-warning h5">Prénom</th>
        <th scope="col" class="text-capitalize text-warning h5">Voir détails</th>
        <th scope="col" class="text-capitalize text-warning h5">modifier</th>
        </tr>
    </thead>
    <tbody class="h-100">
    {% for entreprise in entreprises %}
        <tr class="table-light h-100 text-center align-items-center">
        <td>{{entreprise.denomination}}</td>
        <td>{{entreprise.nom}}</td>
        <td>{{entreprise.prenom}}</td>
        <td>
            <a href="{{ path("entreprise.show", { id: entreprise.id }) }}" class="btn btn-info rounded">Afficher détails</a>
        </td>
        <td>
            <a href="{{ path("entreprise.edit", { id: entreprise.id }) }}" class="btn btn-warning rounded">Modifier</a>
        </td>
        </tr>
    {% endfor %} 
    </tbody>
    </table>
    <div class="navigation d-flex justify-content-center mt-4">
        {{ knp_pagination_render(entreprises) }}
    </div>
</div>
{% endblock %}
