{% extends "base.html.twig" %}

{% block title %} carte travaux n° {{ carteTravaux.id }} {% endblock %}

{% block body %}

    <div class="d-flex justify-content-end mr-4">
        <a href="{{ path('carte_travaux.index')}}"><button class="mt-4 btn btn-outline-info rounded"> Retour à la liste des cartes travaux</button></a>
    </div>
    <div class="container">
    <h1 class="mt-4 text-center"> Carte travaux n° {{ carteTravaux.id }} </h1>
    {{ form_start(form) }}
        
        <div class='form-group'>
            {{ form_label(form.nomEntrepriseTravaux) }}
            {{ form_widget(form.nomEntrepriseTravaux) }}
            <div class="form-errors">
                {{ form_errors(form.nomEntrepriseTravaux) }}
            </div>
        </div>
        <div class="d-flex justify-content-around w-100">
            <div class='form-group w-100 ml-4'>
                {{ form_label(form.dateDebutTravaux) }}
                <div class="input-group date" id="datepicker">
                    {{ form_widget(form.dateDebutTravaux) }}
                    <span class="input-group-append">
                        <span class="input-group-text bg-light d-block">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </span>
                </div>
                <div class="form-errors">
                    {{ form_errors(form.dateDebutTravaux) }}
                </div>
            </div>
            <div class='form-group w-100 ml-4'>
                {{ form_label(form.dateFinTravaux) }}
                <div class="input-group date" id="datepicker1">
                    {{ form_widget(form.dateFinTravaux) }}
                    <span class="input-group-append">
                        <span class="input-group-text bg-light d-block">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </span>
                </div>
                <div class="form-errors">
                    {{ form_errors(form.dateFinTravaux) }}
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-around w-100">
            <div class='form-group w-50 mr-2'>
                {{ form_label(form.adresse, 'Adresse', {
                    'label_attr': {'class': 'form-label mt-4 text-warning'}})
                }}
                {{ form_widget(form.adresse, {
                    'attr': {'class': 'form-control rounded', 'required': true}})
                }}
                <div class="form-errors">
                    {{ form_errors(form.adresse) }}
                </div>
            </div>
            <div class='form-group w-50 ml-2'>
                {{ form_label(form.numeroAdresse) }}
                {{ form_widget(form.numeroAdresse) }}
                <div class="form-errors">
                    {{ form_errors(form.numeroAdresse) }}
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-around w-100">
            <div class='form-group w-50 mr-2'>
                {{ form_label(form.immatriculation) }}
                {{ form_widget(form.immatriculation) }}
                <div class="form-errors">
                    {{ form_errors(form.immatriculation) }}
                </div>
            </div>
            <div class='form-group w-50 ml-2'>
                {{ form_label(form.delivreePar, 'Délivrée par', {
                    'label_attr': {'class': 'form-label mt-4 text-warning'}})
                }}
                {{ form_widget(form.delivreePar, {
                    'attr': {'class': 'form-control rounded', 'required': true}})
                }}
                <div class="form-errors">
                    {{ form_errors(form.delivreePar) }}
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-around">
        <div class='form-group'>
            {{ form_label(form.carteGrise) }}
            {{ form_widget(form.carteGrise) }}
            <div class="form-errors">
                {{ form_errors(form.carteGrise) }}
            </div>
        </div>
        <div class='form-group'>
            {{ form_label(form.devis) }}
            {{ form_widget(form.devis) }}
            <div class="form-errors">
                {{ form_errors(form.devis) }}
            </div>
        </div>
        </div>
        <div class='form-group'>
            {{ form_label(form.commentaires) }}
            {{ form_widget(form.commentaires) }}
            <div class="form-errors">
                {{ form_errors(form.commentaires) }}
            </div>
        </div>
        <div class="d-flex justify-content-between w-100">
            <div class="form-group">
                {{ form_row(form.submit) }}
            </div>
            
        </div>


        {{ form_end(form) }}
    </div>
{% endblock %}
