{% extends 'base.html.twig' %}

{% block title %}Liste des cartes travaux{% endblock %}

{% block body %}
{% include "_nav.html.twig" %}
<div class="d-flex justify-content-end mt-4 mr-4">
    <a href="{{ path("carte_travaux.new") }}" class="btn btn-info rounded">Créer une nouvelle carte travaux</a>
</div>
<div class="container mt-4">
    <div>
        <h1 class="mt-4 text-warning text-center">Listes des cartes travaux</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4 rounded">
                {{ message }}
            </div>
        {% endfor %}        
    </div>
    <table class="table table-hover mt-4">
    <thead class="h-100 w-100">
        <tr class="h-100 text-center">
        <th scope="col" class="text-warning h5">Nom de l'entreprise</th>
        <th scope="col" class="text-warning h5">Date de debut des travaux</th>
        <th scope="col" class="text-warning h5">Date de fin des travaux</th>
        <th scope="col" class="text-warning h5">Voir détails</th>
        <th scope="col" class="text-warning h5">modifier</th>
        </tr>
    </thead>
    <tbody class="h-100">
    {% for carteTravail in carteTravaux %}
        <tr class="table-light h-100 text-center align-items-center">
        <td class="align-middle">{{carteTravail.nomEntrepriseTravaux}}</td>
        <td class="align-middle">{{carteTravail.dateDebutTravaux|date('d/m/Y')}}</td>
        <td class="align-middle">{{carteTravail.dateFinTravaux|date('d/m/Y')}}</td>
        <td class="align-middle">
            <a href="{{ path("carte_travaux.show", { id: carteTravail.id }) }}" class="btn btn-info rounded">Afficher détails</a>
        </td>
        <td class="align-middle">
            <a href="{{ path("carte_travaux.edit", { id: carteTravail.id }) }}" class="btn btn-warning rounded">Modifier</a>
        </td>
        </tr>
    {% endfor %} 
    </tbody>
    </table>
    <div class="navigation d-flex justify-content-center mt-4">
        {{ knp_pagination_render(carteTravaux) }}
    </div>
</div>
{% endblock %}
