{% extends 'base.html.twig' %}

{% block title %}Liste des résidents{% endblock %}

{% block body %}
{% include "_nav.html.twig" %}
<div class="d-flex justify-content-end mt-4 mr-4">
    <a href="{{ path("app_resident_new") }}" class="btn btn-info rounded">Créer un nouveau résident</a>
</div>
<div class="container mt-4">
    <div>
        <h1 class="mt-4 text-warning text-center">Listes des résidents</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4 rounded">
                {{ message }}
            </div>
        {% endfor %}        
    </div>
    <table class="table table-hover mt-4">
    <thead class="h-100 w-100">
        <tr class="h-100 text-center">
        <th class="align-middle" scope="col" class="text-capitalize text-warning h5">Civilité</th>
        <th class="align-middle" scope="col" class="text-capitalize text-warning h5">Nom</th>
        <th class="align-middle" scope="col" class="text-capitalize text-warning h5">Prénom</th>
        <th class="align-middle" scope="col" class="text-capitalize text-warning h5">Voir détails</th>
        <th class="align-middle" scope="col" class="text-capitalize text-warning h5">Modifier</th>
        <th class="align-middle" scope="col" class="text-capitalize text-warning h5">Régie</th>
        </tr>
    </thead>
    <tbody class="h-100">
    {% for resident in residents %}
        <tr class="table-light h-100 text-center align-items-center">
        <td class="align-middle">{{resident.civilite}}</td>
        <td class="align-middle">{{resident.nom}}</td>
        <td class="align-middle">{{resident.prenom}}</td>
        <td>
            <a href="{{ path("app_resident_show", { id: resident.id }) }}" class="btn btn-info rounded">Afficher détails</a>
        </td>
        <td>
            <a href="{{ path("app_resident_edit", { id: resident.id }) }}" class="btn btn-warning rounded">Modifier</a>
        </td>
        <td>
            <a href="{{ path("app_resident_regie", { id: resident.id }) }}" class="btn btn-info rounded">Regie</a>
        </td>
        </tr>
    {% endfor %} 
    </tbody>
    </table>
    <div class="navigation d-flex justify-content-center mt-4" id="paginate">
        {{ knp_pagination_render(residents) }}
    </div>
    
</div>
{% endblock %}