{% extends 'base.html.twig' %}

{% block body %}
	{# <form class="form-inline mt-5 d-flex justify-content-center mb-5" method="get" action="{{ path('resident_liste.search') }}">
    <div class="form-group">
        <input class="form-control" type="text" name="nom" value="{{ searchTerm }}" placeholder="Rechercher par nom">
    </div>
    <button class="btn btn-info" type="submit">Rechercher</button>
	</form> #}
    
        {% if residents is not empty %}
        <table class="table table-hover mt-5">
        <thead class="h-100 w-100">
            <tr class="h-100 text-center">
            <th class="align-middle" scope="col" class="text-capitalize text-warning h5">Civilité</th>
            <th class="align-middle" scope="col" class="text-capitalize text-warning h5">Nom</th>
            <th class="align-middle" scope="col" class="text-capitalize text-warning h5">Prénom</th>
            <th class="align-middle" scope="col" class="text-capitalize text-warning h5">Voir détails</th>
            <th class="align-middle" scope="col" class="text-capitalize text-warning h5">modifier</th>
            <th class="align-middle" scope="col" class="text-capitalize text-warning h5">régie</th>
            </tr>
        </thead>
        <tbody class="h-100">
        {% for resident in residents %}
        <tr class="table-light h-100 text-center align-items-center">
        {# <th scope="row">{{carte.id}}</th> #}
        <td>{{resident.civilite}}</td>
        <td>{{resident.nom}}</td>
        <td>{{resident.prenom}}</td>
        <td>
            <a href="{{ path("app_resident_show", { id: resident.id }) }}" class="btn btn-info rounded">Afficher détails</a>
        </td>
        <td>
            <a href="{{ path("app_resident_edit", { id: resident.id }) }}" class="btn btn-warning rounded">Modifier</a>
        </td>
        <td>
            <a href="{{ path("app_regie_register", { id: resident.id }) }}" class="btn btn-info rounded px-4">Régie</a>
        </td>
        </tr>
           {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>Carte Provisoire non trouvée</h1>
        <p>Aucun résident correspondant à ce nom n'a été trouvée.</p>
        <form action="{{ path('app_carte_resident_new') }}">
            <button type="submit">Ajouter une nouvelle carte</button>
        </form>
        <form action="{{ path('app_carte_resident') }}">
            <button type="submit">Annuler</button>
        </form>
    {% endif %}
        

<div class="d-flex w-50 ml-5 mt-5">
        <a href="{{ path('app_carte_resident')}}"><button class="mt-4 btn btn-outline-info rounded"> Retour à la liste</button></a>
    </div>

{% endblock %}
