{% extends 'base.html.twig' %}

{% block title %}Liste des entreprises{% endblock %}

{% block body %}
{% include "_navPro.html.twig" %}
<div class="container mt-4">
    <div>
        <h1 class="mt-4 text-warning text-center">Liste entreprises</h1>    
    </div>
    <table class="table table-hover mt-4">
    <thead class="h-100 w-100">
        <tr class="h-100 text-center">
        <th scope="col" class="text-capitalize text-warning h5">Dénomination</th>
        <th scope="col" class="text-capitalize text-warning h5">Numéro</th>
        <th scope="col" class="text-capitalize text-warning h5">Adresse</th>
        <th scope="col" class="text-capitalize text-warning h5">Voir détails</th>
        
        </tr>
    </thead>
    <tbody class="h-100">
    {% for listeEntreprise in listeEntreprises %}
        <tr class="table-light h-100 text-center align-items-center">
        <td>{{listeEntreprise.denomination}}</td>
        <td>{{listeEntreprise.numeroAdresse}}</td>
        <td>{{listeEntreprise.adresse}}</td>
        <td>
            <a href="{{ path("liste_entreprise.show", { id: listeEntreprise.id }) }}" class="btn btn-info rounded">Afficher détails</a>
        </td>
        </tr>
    {% endfor %} 
    </tbody>
    </table>
    <div class="navigation d-flex justify-content-center mt-4">
        {{ knp_pagination_render(listeEntreprises) }}
    </div>
</div>

{% endblock %}

