{% extends 'base.html.twig' %}

{% block title %}Liste Professions libérales
{% endblock %}

{% block body %}
	{% include "_navPro.html.twig" %}
    <div class="container mt-4">
		<div class="d-flex justify-content-between">
			<div class="d-flex justify-content-end mt-4 mb-2">
				<a href="{{path('profession_liberale.new')}}" class="btn btn-outline-info rounded">Créer une nouvelle carte travailleur à domicile</a>
			</div>
		</div>
		<div>
			<h1 class="mt-4 text-warning text-center">Listes des professions libérales</h1>
			{% for message in app.flashes('success') %}
				<div class="alert alert-success mt-4 rounded">
					{{ message }}
				</div>
			{% endfor %}
		</div>
		<table class="table table-hover mt-4 mb-5">
			<thead class="h-100 w-100">
				<tr class="h-100 text-center">
					<th scope="col" class="text-capitalize text-warning h5">Civilité</th>
					<th scope="col" class="text-capitalize text-warning h5">Nom</th>
					<th scope="col" class="text-capitalize text-warning h5">Prénom</th>
					<th scope="col" class="text-capitalize text-warning h5">Voir détails</th>
					<th scope="col" class="text-capitalize text-warning h5">modifier</th>
					<th scope="col" class="text-capitalize text-warning h5">Régie</th>
				</tr>
			</thead>
			<tbody>
				{% for profession in professions %}
					<tr class="table-light h-100 text-center align-items-center">
						<td class="align-middle">{{profession.civilite}}</td>
						<td class="align-middle">{{profession.nom}}</td>
						<td class="align-middle">{{profession.prenom}}</td>
						<td>
							<a href="{{ path('profession_liberale.show', {id: profession.id}) }}" class="btn btn-info rounded">Afficher détails</a>
						</td>
						<td>
							<a href="{{ path('profession_liberale.edit', { id: profession.id }) }}" class="btn btn-warning rounded">Modifier</a>
						</td>
						<td>
							<a href="{{ path('profession_liberale.regie', { id: profession.id }) }}" class="btn btn-info rounded">Régie</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="navigation d-flex justify-content-center mt-4">
			{{ knp_pagination_render(professions) }}

		</div>

	</div>
{% endblock %}

