{% extends 'base.html.twig' %}

{% block title %}Recherche numéro carte Profession libérale{% endblock %}

{% block body %}
{% include "_navPro.html.twig" %}
<form class="form-inline mt-5 d-flex justify-content-center" method="get" action="{{ path('numero_carte.entreprise') }}">
    <div class="form-group">
        <input class="form-control" id="recherche" type="text" name="numeroCarte" value="{{ searchTerm }}" placeholder="Rechercher un numéro de carte">
    </div>
    <button class="btn btn-info" id ="btn-recherche"type="submit">Rechercher</button>
</form>

{% if searchTerm is not empty %}
    {% if entreprises is not empty %}
        <h4 class='text-center mt-3 mb-5'>Résultat trouvé pour "{{ searchTerm }}" :</h4>
        <table class="table table-hover mt-4">
            <thead class="h-100 w-100">
                <tr class="h-100 text-center">
                    <th scope="col" class="text-capitalize text-warning h5">Numéro de Carte</th>
                    <th scope="col" class="text-capitalize text-warning h5">Denomination</th>
                    <th scope="col" class="text-capitalize text-warning h5">Nom</th>
                    <th scope="col" class="text-capitalize text-warning h5">Voir détails</th>
                    <th scope="col" class="text-capitalize text-warning h5">modifier</th>
                    <th scope="col" class="text-capitalize text-warning h5">régie</th>
                </tr>
            </thead>
            <tbody class="h-100">
                {% for entreprise in entreprises %}
                    <tr class="table-light h-100 text-center align-items-center">
                        <td class="align-middle">{{ entreprise.numeroCarte }}</td>
                        <td class="align-middle">{{ entreprise.denomination }}</td>
                        <td class="align-middle">{{ entreprise.nom }}</td>
                        
                        <td>
                            <a href="{{ path("entreprise.show", { id: entreprise.id }) }}" class="btn btn-info rounded">Afficher détails</a>
                        </td>
                        <td>
                            <a href="{{ path("entreprise.edit", { id: entreprise.id }) }}" class="btn btn-warning rounded">Modifier</a>
                        </td>
                        <td>
                            <a href="{{ path("entreprise.regie", { id: entreprise.id }) }}" class="btn btn-info rounded px-4">Régie</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class='text-center mt-5'>
            <p>Aucune carte trouvée pour le numéro"{{ searchTerm }}".</p>
            <a href="{{ path('app_choix_pro') }}" class="btn btn-info">Revenir à la page d'accueil</a>
        </div>
    {% endif %}
{% endif %}
<div class="d-flex w-50 ml-5 mt-5">
        <a href="{{ path('app_choix_pro')}}"><button class="mt-4 btn btn-outline-info rounded"> Retour à l'accueil</button></a>
    </div>
{% endblock %}