{% extends 'base.html.twig' %}

{% block title %}Liste Travailleurs à domicile{% endblock %}

{% block body %}
{% include "_navPro.html.twig" %}
<div class="d-flex justify-content-between">
    <div class="d-flex justify-content-end mt-4 mr-4">
        <a href="{{path('travailleur_domicile.new')}}" class="btn btn-outline-info rounded">Créer une nouvelle carte travailleur à domicile</a>
    </div>
</div>    
    <div class="container mt-4">
        <div>
			<h1 class="mt-4 text-warning text-center">Listes des travailleurs à domicile</h1>
			{% for message in app.flashes('success') %}
				<div class="alert alert-success mt-4 rounded">
					{{ message }}
				</div>
			{% endfor %}
		</div>
        <table class="table table-hover mt-4 mb-5">
			<thead class="h-100 w-100">
				<tr class="h-100 text-center">
					<th scope="col" class="text-capitalize text-warning h5">Civilité</th>
					<th scope="col" class="text-capitalize text-warning h5">Nom</th>
					<th scope="col" class="text-capitalize text-warning h5">Prénom</th>
					<th scope="col" class="text-capitalize text-warning h5">Voir détails</th>
					<th scope="col" class="text-capitalize text-warning h5">modifier</th>
					<th scope="col" class="text-capitalize text-warning h5">Régie</th>
				</tr>
			</thead>
            <tbody>
                {% for travailleurDom in travailleursDoms %}
                    <tr class="table-light h-100 text-center align-items-center">
                    <td class="align-middle">{{travailleurDom.civilite}}</td>
                    <td class="align-middle">{{travailleurDom.nom}}</td>
                    <td class="align-middle">{{travailleurDom.prenom}}</td>
                    <td>
						<a href="" class="btn btn-info rounded">Afficher détails</a>
                    </td>
                    <td>
                        <a href="" class="btn btn-warning rounded">Modifier</a>
                    </td>
                    <td>
                        <a href="" class="btn btn-info rounded">Régie</a>
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <div class="navigation d-flex justify-content-center mt-4">
			{{ knp_pagination_render(travailleursDoms) }}
	
    </div>
    
</div>
{% endblock %}
