{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id='nav'>
  <div class="container-fluid">
    <a href="{{ path('app_home') }}"> 
      <img src="{{ asset('/images/accueil.png')}}" alt="logo accueil" width="30px">
    </a>
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="item navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown ml-3 mt-1">
          <a class="nav-link dropdown-toggle h5" data-bs-toggle="dropdown" href="" id="bold" role="button" aria-haspopup="true" aria-expanded="false">Profession Libérale</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" id="hove" href="{{path('profession_liberale.new')}}">Nouveau</a>
            <a class="dropdown-item" id="hove" href="{{path('profession_liberale.searchname')}}">Renouvellement</a>
            <a class="dropdown-item" id="hove" href="{{path('regie_register.profession')}}">Enregistrement Régie</a>
            <a class="dropdown-item" id="hove" href="{{path('numero_carte.profession')}}">Recherche par Carte</a>
            <a class="dropdown-item" id="hove" href="{{path('changement_vehicule.professionsearch')}}">Changement de véhicule</a>
          </div>
        </li>
        <li class="nav-item dropdown ml-3 mt-1">
          <a class="nav-link dropdown-toggle h5" data-bs-toggle="dropdown" href="{{ path('entreprise.index')}}" id="bold" role="button" aria-haspopup="true" aria-expanded="false">Entreprise</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" id="hove" href="{{ path('entreprise.new')}}">Nouveau</a>
            <a class="dropdown-item" id="hove" href="{{ path('regie_register.entreprise')}}">Enregistrement Régie</a>
            <a class="dropdown-item" id="hove" href=" {{ path('numero_carte.entreprise')}}">Recherche par Carte</a>
            <a class="dropdown-item" id="hove" href="">Changement de véhicule</a>
          </div>
        </li>
        <li class="nav-item dropdown ml-3 mt-1">
          <a class="nav-link dropdown-toggle h5" data-bs-toggle="dropdown" href="#" id="bold" role="button" aria-haspopup="true" aria-expanded="false">Travailleur à domicile</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" id="hove" href="{{ path('travailleur_domicile.new')}}">Nouveau</a>
            <a class="dropdown-item" id="hove" href="{{path('travailleur_domicile.searchname')}}">Renouvellement</a>
            <a class="dropdown-item" id="hove" href="{{path('regie_register.travailleur')}}">Enregistrement Régie</a>
            <a class="dropdown-item" id="hove" href="{{path('travailleur_carte.search')}}">Recherche par Carte</a>
            <a class="dropdown-item" id="hove" href="{{path('changement_vehicule.travailleursearch')}}">Changement de véhicule</a>
          </div>
        </li>
      </ul>      
    </div>
  </div>
</nav>

{% endblock %}